@charset "UTF-8";

/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Poppins",sans-serif;
    background-color: #313131;
    color: whitesmoke;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 10vh;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1{
    color: #8200d8;
}

section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    
    height: 70vh;
    width: 50vw;
}

.imagem{
    background-image: url("https://img.freepik.com/vetores-gratis/laptop-com-icone-de-codigo-isometrico-de-programa-desenvolvimento-de-software-e-aplicacoes-de-programacao-neon-escuro_39422-971.jpg?semt=sph");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-color: #8200d8;
    padding: 8rem;
    border-radius: 50%;
    box-shadow:  3px 3px 10px 1px rgba(0, 0, 0, 0.438);
}


#img-2{
    
    background-image: url("https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_640.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2{
}

p{
    font-weight: 300;
    color: rgb(206, 206, 206);
}

.emoji{
    width: 1.2rem;
}

h3{
    font-weight: 500;
}

.linguagens{
    width: 3.5rem;
}








